.idea/
.vs/
.vscode/
.cache/
build/
cmake/open-cpp-coverage.cmake
cmake-build-*/
conan/
prefix/
CMakeLists.txt.user
CMakeUserPresets.json
conanbuildinfo.txt
conaninfo.txt
graph_info.json
conan.lock
poetry.lock
compile_commands.json
